@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #08141b;
  --accent-color1: #007af3;
  --accent-color2: #50e2e7;
  --dark-sectioncolor1: #040d21;
  --card-accent: #0c162d;
}

body {
  min-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: white;
  font-family: "Poppins";
}

nav ul li.active a {
  background-color: var(--accent-color1);
  border-radius: 2em;
  min-height: 30px;
  border: 0;
}

.navbar {
  background: var(--primary-color);
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  margin-left: 1em;
}

.navbar .logo span {
  color: var(--accent-color1);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .mobile-menu {
  cursor: pointer;
  fill: white;
}

nav.menu-btn {
  display: block;
}

a {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  background: var(--primary-color);
  height: 100vh;
  padding: 1em;
  /* Show the dropdown menu on hover */
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 2em;
  min-height: 30px;
  margin: 0 0.2em;
}

nav li a:hover {
  border: 1px solid #d0d0d0;
  border-radius: 2em;
  min-height: 30px;
}

nav .Projects {
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
}

nav .Projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .Projects .wrapper .arrow {
  width: 0.6em;
  margin-left: -0.8em;
}

nav .Projects .dropdown-content {
  background: var(--primary-color);
  display: none;
  position: absolute;
  z-index: 1;
  min-height: 0;
  border-top: 2px solid var(--accent-color1);
}

nav .Projects .dropdown-content a {
  display: block;
  padding: 1em;
  color: white;
  text-decoration: none;
  text-align: left;
  min-height: 0;
}

nav .Projects .dropdown-content a:hover {
  border: none;
  border-radius: none;
  min-height: 0;
  color: var(--accent-color1);
}

nav .Projects.active .dropdown-content a {
  background: var(--primary-color);
  border-radius: 0;
  border: 0;
  min-height: 0;
}

nav .Projects:hover .dropdown-content {
  display: block;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.mobile-menu {
  right: 0;
  top: 0;
  margin-right: 2em;
}

.mobile-menu-exit {
  fill: white;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.hero {
  padding: 30vh 4em;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../images/PCB.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/PCB.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.left-col h1 {
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 1.6em;
  margin-bottom: 0;
  color: white;
}

.left-col p {
  color: white;
  margin: 0;
}

.left-col .hero-cta {
  margin-top: 0.5em;
  background: var(--accent-color1);
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  display: inline-block;
}

.left-col .hero-cta a {
  text-decoration: none;
  color: white;
}

.left-col .hero-cta a:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-weight: bold;
}

.hero-image {
  margin: 0 auto;
  width: 20%;
  z-index: 99;
}

section {
  padding: 10em 4em;
}

.hero .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.hero .container .left-col {
  margin: 0 3em 0 10%;
}

.hero .container .left-col h1 {
  font-size: 2em;
  width: 80%;
}

.hero .container .left-col p {
  width: 80%;
}

.skills-section {
  margin-top: 2.5em;
  background-color: var(--dark-sectioncolor1);
}

.skills-section .container {
  margin-top: -5em;
}

.skills-section h2 {
  color: var(--accent-color2);
  text-align: center;
  display: block;
  margin: 0;
  margin-top: -5em;
  padding-bottom: 3em;
}

.skills-section span {
  display: block;
  text-align: center;
  font-size: 0.55em;
}

.skills-section .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-section .top .column {
  background-color: var(--card-accent);
  width: auto;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 3px 2px rgba(0, 0, 0, 0.04), 0 7px 5px rgba(0, 0, 0, 0.02), 0 13px 10px rgba(0, 0, 0, 0.02), 0 22px 17px rgba(0, 0, 0, 0.02) !important;
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 3px 2px rgba(0, 0, 0, 0.04), 0 7px 5px rgba(0, 0, 0, 0.02), 0 13px 10px rgba(0, 0, 0, 0.02), 0 22px 17px rgba(0, 0, 0, 0.02) !important;
  border-radius: 5px;
  padding: 2em;
  margin: 0.5em;
}

.skills-section .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-section .bottom .column {
  background-color: var(--card-accent);
  width: auto;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 3px 2px rgba(0, 0, 0, 0.04), 0 7px 5px rgba(0, 0, 0, 0.02), 0 13px 10px rgba(0, 0, 0, 0.02), 0 22px 17px rgba(0, 0, 0, 0.02) !important;
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 3px 2px rgba(0, 0, 0, 0.04), 0 7px 5px rgba(0, 0, 0, 0.02), 0 13px 10px rgba(0, 0, 0, 0.02), 0 22px 17px rgba(0, 0, 0, 0.02) !important;
  border-radius: 5px;
  padding: 2em;
  margin: 0.5em;
}

.projects-section .container {
  max-width: 80%;
  margin: 0 auto;
  padding: 2em;
  background-color: var(--dark-sectioncolor1);
  border-radius: 20px;
}

.projects-section .container h2 {
  display: block;
  color: var(--accent-color2);
  margin: 0;
  text-align: center;
  padding: 2em;
  margin-top: 2.5em;
}

.projects-section .container .project-margin-exception {
  margin-top: 0;
}

.projects-section .project-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.projects-section .project-1 p {
  color: white;
  margin-left: 10%;
}

.projects-section .project-1 .col1 {
  width: 50%;
}

.projects-section .project-1 .col1 img {
  width: 100%;
}

.projects-section .project-1 .col1 .links-box {
  background-color: var(--card-accent);
  width: 50%;
  -webkit-box-shadow: 0 0 10px 1px var(--accent-color2);
          box-shadow: 0 0 10px 1px var(--accent-color2);
  border-radius: 5px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em auto 0;
}

.projects-section .project-1 .col1 .links-box img {
  width: 2em;
}

.projects-section .project-1 .col1 .links-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-section .project-1 .col2 {
  width: 50%;
}

.projects-section .project-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.projects-section .project-2 p {
  color: white;
  margin-left: 10%;
}

.projects-section .project-2 .col1 {
  width: 50%;
}

.projects-section .project-2 .col1 img {
  margin: 0 auto;
  display: block;
  width: 80%;
}

.projects-section .project-2 .col1 .links-box {
  background-color: var(--card-accent);
  width: 50%;
  -webkit-box-shadow: 0 0 10px 1px var(--accent-color2);
          box-shadow: 0 0 10px 1px var(--accent-color2);
  border-radius: 5px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em auto 0;
}

.projects-section .project-2 .col1 .links-box .readmore-button {
  width: 55%;
  margin-top: 0em;
  background: var(--accent-color1);
  padding: 0.2em 0em;
  font-size: 1em;
  border-radius: 5em;
  display: inline-block;
  text-align: center;
}

.projects-section .project-2 .col1 .links-box .readmore-button a {
  text-decoration: none;
  color: white;
  margin: auto;
}

.projects-section .project-2 .col1 .links-box .readmore-button a:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-weight: bold;
  padding: 0.4em 0.5em;
}

.projects-section .project-2 .col1 .links-box img {
  width: 2em;
}

.projects-section .project-2 .col1 .links-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-section .project-2 .col2 {
  width: 50%;
}

.projects-section .project-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.projects-section .project-3 p {
  color: white;
  margin-left: 10%;
}

.projects-section .project-3 .col1 {
  width: 50%;
}

.projects-section .project-3 .col1 img {
  margin: 0 auto;
  display: block;
  width: 80%;
}

.projects-section .project-3 .col1 .links-box {
  background-color: var(--card-accent);
  width: 50%;
  -webkit-box-shadow: 0 0 10px 1px var(--accent-color2);
          box-shadow: 0 0 10px 1px var(--accent-color2);
  border-radius: 5px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em auto 0;
}

.projects-section .project-3 .col1 .links-box img {
  width: 2em;
}

.projects-section .project-3 .col1 .links-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-section .project-3 .col2 {
  width: 50%;
}

.projects-section .project-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.projects-section .project-4 p {
  color: white;
  margin-left: 10%;
}

.projects-section .project-4 .col1 {
  width: 50%;
}

.projects-section .project-4 .col1 img {
  width: 100%;
}

.projects-section .project-4 .col1 .links-box {
  background-color: var(--card-accent);
  width: 50%;
  -webkit-box-shadow: 0 0 10px 1px var(--accent-color2);
          box-shadow: 0 0 10px 1px var(--accent-color2);
  border-radius: 5px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em auto 0;
}

.projects-section .project-4 .col1 .links-box img {
  width: 2em;
}

.projects-section .project-4 .col1 .links-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-section .project-4 .col2 {
  width: 50%;
}

.about-section {
  background-color: var(--dark-sectioncolor1);
  padding-top: 4em;
}

.about-section h2 {
  display: block;
  color: var(--accent-color2);
  margin: 0;
  text-align: center;
}

.about-section .container .frame {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.about-section .container .frame p {
  color: white;
  text-align: left;
  margin-left: 8em;
}

.about-section .container .picture img {
  width: 20em;
  margin: 0 auto;
  border-radius: 50%;
  outline: none;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 2em;
  margin-bottom: 10px;
  -webkit-box-shadow: inset 0 0 0 10px var(--accent-color2);
          box-shadow: inset 0 0 0 10px var(--accent-color2);
}

.about-section .container .picture .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.about-section .container .picture .contacts a {
  margin: 0 auto;
}

.about-section .container .picture .contacts img {
  width: 3em;
  color: white;
  margin-left: 0;
  border-radius: 0;
  outline: none;
  padding: 0;
  margin-bottom: 10;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.about-section .container .picture .contacts svg {
  width: 2.4em;
  color: white;
  margin-left: 0;
  border-radius: 0;
  outline: none;
  padding: 0;
  margin-bottom: 10;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.about-section img.hero-image {
  width: 20%;
  margin-right: 10%;
}

.contact-section {
  background-color: var(--dark-sectioncolor1);
}

.contact-section .contact-me h3 {
  text-align: center;
  color: white;
}

.contact-section .contact-me .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section .contact-me form {
  background-color: var(--card-accent);
  padding: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 1px var(--accent-color2);
          box-shadow: 0 0 10px 1px var(--accent-color2);
}

.contact-section .contact-me form label {
  text-align: left;
  display: block;
  color: white;
  padding: 10px 0 5px 0;
}

.contact-section .contact-me form input,
.contact-section .contact-me form textarea {
  border: 2px solid grey;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  resize: vertical;
}

.contact-section .contact-me form textarea {
  padding: 10px 5px 50px 5px;
}

.contact-section .contact-me form input:focus {
  outline: none;
  border-color: var(--accent-color2);
  -webkit-box-shadow: 0 0 10px var(--accent-color2);
          box-shadow: 0 0 10px var(--accent-color2);
  -webkit-transition: -webkit-box-shadow linear 1s;
  transition: -webkit-box-shadow linear 1s;
  transition: box-shadow linear 1s;
  transition: box-shadow linear 1s, -webkit-box-shadow linear 1s;
}

.contact-section .contact-me form textarea:focus {
  outline: none;
  border-color: var(--accent-color2);
  -webkit-box-shadow: 0 0 10px var(--accent-color2);
          box-shadow: 0 0 10px var(--accent-color2);
  -webkit-transition: -webkit-box-shadow linear 1s;
  transition: -webkit-box-shadow linear 1s;
  transition: box-shadow linear 1s;
  transition: box-shadow linear 1s, -webkit-box-shadow linear 1s;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px auto;
        grid-template-columns: 150px auto;
    width: 100%;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar nav li a {
    font-size: 0.8em;
    padding: 0 1em;
  }
  .navbar nav .primary-nav {
    margin: 0;
    margin-left: 3em;
  }
  .navbar nav .secondary-nav {
    margin: 0;
    margin-right: 2em;
  }
  .navbar nav .secondary-nav .nav-itemlinked {
    margin-left: -1em;
  }
  .nav-link svg {
    width: 1rem;
    min-width: 1rem;
    margin-right: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 850px) {
  primary-nav {
    margin-left: 0;
  }
  .secondary-nav {
    margin-right: 2em;
  }
}

@media only screen and (max-width: 1280px) {
  .about-section .frame {
    max-height: 321px;
  }
}

@media only screen and (max-width: 768px) {
  .about-section {
    margin: 0 auto;
    padding-bottom: 20em;
  }
  .about-section .container .frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* optional */
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about-section .container .frame .picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
  }
  .about-section .container .frame .about-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-section .picture .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .about-section .picture .contacts a {
    margin: 0 auto;
  }
  .about-section .picture .contacts img {
    width: 3em;
    color: white;
    margin-left: 0;
    border-radius: 0;
    outline: none;
    padding: 0;
    margin-bottom: 10;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .about-section .picture .contacts svg {
    width: 2.4em;
    color: white;
    margin-left: 0;
    border-radius: 0;
    outline: none;
    padding: 0;
    margin-bottom: 10;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media only screen and (max-width: 634px) {
  .about-section {
    padding-bottom: 25em;
  }
  .projects-section .container .links-box2 {
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .hero .container .left-col {
    margin: 0;
  }
  .hero .container .left-col h1 {
    margin: 0 auto;
    text-align: center;
  }
  .hero .container .left-col p {
    margin: 1em auto;
    text-align: center;
  }
  .hero .container .left-col .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .hero .container .hero-image {
    margin: 1em auto;
  }
  .skills-section {
    margin: 5em 0;
  }
  .skills-section .container {
    width: 100%;
  }
  .skills-section .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills-section .top .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5em;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .skills-section .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills-section .bottom .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5em;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .projects-section {
    margin: 5em 0;
    padding: 5em 4em;
    background-color: var(--dark-sectioncolor1);
  }
  .projects-section .container {
    width: 100%;
    border-radius: 0;
  }
  .projects-section .container h2 {
    padding: 0;
  }
  .projects-section .project-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    margin-bottom: 6em;
  }
  .projects-section .project-1 .col1 {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .projects-section .project-1 .col1 .links-box {
    width: 50%;
    padding: 1em;
    margin: 1em auto 0;
  }
  .projects-section .project-1 .col1 .links-box img {
    width: 1.5em;
  }
  .projects-section .project-1 .col1 .links-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects-section .project-1 .col2 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .projects-section .project-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    margin-bottom: 6em;
  }
  .projects-section .project-2 .col1 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .projects-section .project-2 .col1 .links-box {
    width: 50%;
    padding: 1em;
    margin: 1em auto 0;
  }
  .projects-section .project-2 .col1 .links-box img {
    width: 1.5em;
  }
  .projects-section .project-2 .col1 .links-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects-section .project-2 .col2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .projects-section .project-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .projects-section .project-3 .col1 {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .projects-section .project-3 .col1 .links-box {
    width: 50%;
    padding: 1em;
    margin: 1em auto 0;
  }
  .projects-section .project-3 .col1 .links-box img {
    width: 1.5em;
  }
  .projects-section .project-3 .col1 .links-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects-section .project-3 .col2 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .projects-section .project-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .projects-section .project-4 .col1 {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .projects-section .project-4 .col1 .links-box {
    width: 50%;
    padding: 1em;
    margin: 1em auto 0;
  }
  .projects-section .project-4 .col1 .links-box img {
    width: 1.5em;
  }
  .projects-section .project-4 .col1 .links-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects-section .project-4 .col2 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-section {
    padding-bottom: 25em;
    border: 0 !important;
    margin: 5em 0 0;
  }
  .about-section .container .frame img {
    width: 10em;
    padding: 1.5em;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 0 0 8px var(--accent-color2);
            box-shadow: inset 0 0 0 8px var(--accent-color2);
  }
  .about-section .container .frame p {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }
  .contact-section {
    margin-top: -1em;
  }
}
/*# sourceMappingURL=main.css.map */