@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
	--primary-color: #08141b;
	--accent-color1: #007af3;
	--accent-color2: #50e2e7;
	--dark-sectioncolor1: #040d21;
	--card-accent: #0c162d;
}

body {
	min-width: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: white;
	font-family: "Poppins";
}

// .primary-nav {
// 	li.active {
// 		background-color: #e7e7e7;
// 		cursor: pointer;
// 	}
// }

nav ul li.active a {
	background-color: var(--accent-color1);
	border-radius: 2em;
	min-height: 30px;
	border: 0;
}

.navbar {
	background: var(--primary-color);
	padding: 1em;

	.logo {
		text-decoration: none;
		font-weight: bold;
		color: white;
		font-size: 1.2em;
		margin-left: 1em;

		span {
			color: var(--accent-color1);
		}
	}

	nav {
		display: none;
	}

	.container {
		display: flex;
		place-content: space-between;
		align-items: center;
	}

	.mobile-menu {
		cursor: pointer;
		fill: white;
	}
}

nav.menu-btn {
	display: block;
}

a {
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	z-index: 998;
	//width: 300px;
	top: 0;
	right: 0;
	background: var(--primary-color);
	height: 100vh;
	padding: 1em;

	ul.primary-nav {
		margin-top: 5em;
	}

	li {
		a {
			color: white;
			text-decoration: none;
			padding: 0.5em;
			font-size: 1.3em;
			text-align: left;
			border: 1px solid transparent;
			border-radius: 2em;
			min-height: 30px;
			margin: 0 0.2em;

			&:hover {
				border: 1px solid #d0d0d0;
				border-radius: 2em;
				min-height: 30px;
			}
		}
	}
}

.nav-link svg {
	width: 2rem;
	min-width: 2rem;
	margin-right: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.secondary-nav {
	display: flex;
	margin-top: 2em;
}

.nav-link {
	display: flex;
	align-items: center;
}

/* Page content */
.content {
	padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
}

.mobile-menu {
	right: 0;
	top: 0;
	margin-right: 2em;
}

.mobile-menu-exit {
	fill: white;
	float: right;
	margin: 0.5em;
	cursor: pointer;
}

section {
	padding: 5em 2em;
}

.hero {
	text-align: center;

	background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
		url("../images/PCB.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	//width: 100%;
}

.left-col {
	h1 {
		font-size: 2em;
		line-height: 1.3em;
		margin-top: 1.6em;
		margin-bottom: 0;
		color: white;
	}
	p {
		color: white;
		margin: 0;
	}

	.hero-cta {
		margin-top: 0.5em;
		background: var(--accent-color1);
		padding: 0.6em 1.3em;
		font-size: 1.4em;
		border-radius: 5em;
		display: inline-block;

		a {
			text-decoration: none;
			color: white;
		}

		a:hover {
			transition-duration: 0.4s;
			font-weight: bold;
		}
	}
}

.hero-image {
	margin-top: 2em;
	width: 30%;
	height: 50%;
}

//@media only screen and (min-width: 1080px) {

section {
	padding: 10em 4em;
}

.hero .container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	text-align: left;

	.left-col {
		margin: 0 3em 0 10%;

		h1 {
			font-size: 2em;
			width: 80%;
		}

		p {
			width: 80%;
		}
	}
}

.skills-section {
	margin-top: 2.5em;
	background-color: var(--dark-sectioncolor1);
	.container {
		// display: flex;
		// align-items: center;
		// justify-content: center;
		margin-top: -5em;
	}

	h2 {
		color: var(--accent-color2);
		text-align: center;
		display: block;
		margin: 0;
		margin-top: -5em;
		padding-bottom: 3em;
	}

	span {
		display: block;
		text-align: center;
		font-size: 0.55em;
	}

	// .glow {
	// 	margin-left: 2em;
	// 	width: 10em;
	// 	border-radius: 5em;
	// 	background-color: var(--dark-sectioncolor1);
	// 	//min-width: 2rem;
	// }

	.top {
		display: flex;
		align-items: center;
		justify-content: center;

		.column {
			background-color: var(--card-accent);
			width: auto;
			box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.1),
				0 3px 2px rgba(0, 0, 0, 0.04), 0 7px 5px rgba(0, 0, 0, 0.02),
				0 13px 10px rgba(0, 0, 0, 0.02), 0 22px 17px rgba(0, 0, 0, 0.02) !important;

			border-radius: 5px;
			padding: 2em;
			margin: 0.5em;
		}
	}

	.bottom {
		display: flex;
		align-items: center;
		justify-content: center;

		.column {
			background-color: var(--card-accent);
			width: auto;
			box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.1),
				0 3px 2px rgba(0, 0, 0, 0.04), 0 7px 5px rgba(0, 0, 0, 0.02),
				0 13px 10px rgba(0, 0, 0, 0.02), 0 22px 17px rgba(0, 0, 0, 0.02) !important;

			border-radius: 5px;
			padding: 2em;
			margin: 0.5em;
		}
	}
}

.projects-section {
	.container {
		max-width: 80%;
		margin: 0 auto;
		padding: 2em;
		background-color: var(--dark-sectioncolor1);
		border-radius: 20px;

		h2 {
			display: block;
			color: var(--accent-color2);
			margin: 0;
			text-align: center;
			padding: 2em;
			margin-top: 2.5em;
		}

		.project-margin-exception {
			margin-top: 0;
		}

		.links-box {
			background-color: var(--card-accent);
			width: 25%;
			box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.1),
				0 3px 2px rgba(0, 0, 0, 0.04), 0 7px 5px rgba(0, 0, 0, 0.02),
				0 13px 10px rgba(0, 0, 0, 0.02), 0 22px 17px rgba(0, 0, 0, 0.02) !important;

			border-radius: 5px;
			padding: 1em;
			margin-left: 2em;
			margin-top: 3em;

			display: flex;
			justify-content: space-between;
			.git {
				margin-left: 3em;
			}
			.web {
				margin-right: 3em;
			}
		}

		.links-box2 {
			background-color: var(--card-accent);
			width: 25%;
			// box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.1),
			// 	0 3px 2px rgba(0, 0, 0, 0.04), 0 7px 5px rgba(0, 0, 0, 0.02),
			// 	0 13px 10px rgba(0, 0, 0, 0.02), 0 22px 17px rgba(0, 0, 0, 0.02) !important;

			border-radius: 5px;
			//box-shadow: 0 0 10px 1px #0ff;
			box-shadow: 0 0 10px 1px var(--accent-color2);
			padding: 1em;
			margin-left: 67.5%;
			margin-top: 3em;

			display: flex;
			justify-content: space-between;
			.git {
				margin-left: 3em;
			}
			.web {
				margin-right: 3em;
			}
		}

		.links-box3 {
			background-color: var(--card-accent);
			width: 25%;
			border: 2px solid #dadada;
			outline: none;
			border-color: rgb(99, 99, 99);
			border-radius: 5px;
			box-shadow: 0 0 10px hsla(0, 0%, 100%, 0.5);
			padding: 1em;
			margin-left: 2em;
			margin-top: 3em;

			display: flex;
			justify-content: space-between;
			.git {
				margin-left: 3em;
			}
			.web {
				margin-right: 3em;
			}
		}

		img {
			width: 2em;
		}

		.project-1 {
			display: flex;
			flex-direction: row-reverse;
			align-content: space-between;

			p {
				color: white;
				margin-left: 10%;
			}

			img {
				width: 35%;
			}
		}
		.project-2 {
			display: flex;
			align-content: space-between;

			p {
				color: white;
				margin-right: 10%;
			}

			img {
				width: 35%;
			}
		}
		.project-3 {
			display: flex;
			flex-direction: row-reverse;
			align-content: space-between;
			p {
				color: white;
				margin-left: 10%;
			}
			img {
				width: 35%;
			}
		}
	}
}

.about-section {
	background-color: var(--dark-sectioncolor1);
	padding-top: 4em;
	h2 {
		display: block;
		color: var(--accent-color2);
		margin: 0;
		text-align: center;
	}
	.container {
		.frame {
			//margin-top: 5em;
			margin: 0;
			padding: 0;
			display: flex;

			align-content: space-between;
			p {
				color: white;
				text-align: left;
				margin-left: 8em;
			}
		}

		.picture img {
			width: 15em;
			margin: 0 auto;
			border-radius: 50%;
			outline: none;
			object-fit: cover;
			padding: 2em;
			margin-bottom: 10px;
			box-shadow: inset 0 0 0 10px var(--accent-color2);
			//position: relative;
		}
		.picture .contacts {
			display: flex;
			margin: 0 auto;
			a {
				margin: 0 auto;
			}
			img {
				width: 3em;
				color: white;
				margin-left: 0;
				border-radius: 0;
				outline: none;
				padding: 0;
				margin-bottom: 10;
				box-shadow: none;
			}

			svg {
				width: 2.4em;
				color: white;
				margin-left: 0;
				border-radius: 0;
				outline: none;
				padding: 0;
				margin-bottom: 10;
				box-shadow: none;
			}
		}
	}

	img.hero-image {
		width: 20%;
		margin-right: 10%;
	}
}

.contact-section {
	background-color: var(--dark-sectioncolor1);
	.contact-me {
		h3 {
			text-align: center;
			color: white;
		}

		.contact-form {
			display: flex;
			justify-content: center;
		}

		form {
			background-color: var(--card-accent);
			padding: 50px;
			border-radius: 20px;
			box-shadow: 0 0 10px 1px var(--accent-color2);
			label {
				text-align: left;
				display: block;
				color: white;
				padding: 10px 0 5px 0;
			}

			input,
			textarea {
				border: 2px solid grey;
				border-radius: 6px;
				padding: 5px;
				width: 100%;
				resize: vertical;
			}

			textarea {
				padding: 10px 5px 50px 5px;
			}

			input:focus {
				outline: none;
				border-color: var(--accent-color2);
				box-shadow: 0 0 10px var(--accent-color2);
				transition: box-shadow linear 1s;
			}
			textarea:focus {
				outline: none;
				border-color: var(--accent-color2);
				box-shadow: 0 0 10px var(--accent-color2);
				transition: box-shadow linear 1s;
			}
		}
	}
}
//}

@media only screen and (min-width: 768px) {
	.mobile-menu,
	.mobile-menu-exit {
		display: none;
	}

	.navbar .container {
		display: grid;
		grid-template-columns: 150px auto;
		width: 100%;
		justify-content: unset;
	}

	.navbar nav {
		display: flex;
		justify-content: space-between;
		position: unset;
		height: auto;
		width: 100%;
		padding: 0;

		ul {
			display: flex;
			align-items: center;
		}

		li {
			a {
				font-size: 0.8em;
				padding: 0 1em;
			}
		}

		.primary-nav {
			margin: 0;
			margin-left: 3em;
		}
		.secondary-nav {
			margin: 0;
			margin-right: 2em;

			.nav-itemlinked {
				margin-left: -1em;
			}
		}
	}

	.nav-link svg {
		width: 1rem;
		min-width: 1rem;
		margin-right: 1em;
		display: flex;
	}
}

@media only screen and (max-width: 850px) {
	primary-nav {
		margin-left: 0;
	}
	.secondary-nav {
		margin-right: 2em;
	}
}

@media only screen and (max-width: 1280px) {
	.about-section {
		.frame {
			max-height: 321px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.about-section {
		margin: 0 auto;
		padding-bottom: 20em;

		.container .frame {
			display: flex;
			flex-direction: column;
			/* optional */
			align-items: flex-start;
			.picture {
				order: 2;
				margin: 0 auto;
			}
			.about-text {
				order: 1;
			}
		}

		.picture .contacts {
			display: flex;
			margin: 0 auto;
			a {
				margin: 0 auto;
			}
			img {
				width: 3em;
				color: white;
				margin-left: 0;
				border-radius: 0;
				outline: none;
				padding: 0;
				margin-bottom: 10;
				box-shadow: none;
			}

			svg {
				width: 2.4em;
				color: white;
				margin-left: 0;
				border-radius: 0;
				outline: none;
				padding: 0;
				margin-bottom: 10;
				box-shadow: none;
			}
		}
	}
}

@media only screen and (max-width: 634px) {
	.about-section {
		padding-bottom: 25em;
	}

	.projects-section {
		.container {
			.links-box2 {
				margin: 0;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.about-section {
		padding-bottom: 25em;

		.container .frame {
			img {
				width: 10em;
				padding: 1.5em;
				margin-bottom: 10px;
				box-shadow: inset 0 0 0 8px var(--accent-color2);
			}
			p {
				text-align: center;
				margin: 0;
				margin-bottom: 10px;
			}
		}
	}

	.skills-section {
		.container {
			width: 100%;
		}
		.top {
			display: flex;
			flex-wrap: wrap;
			.column {
				display: flex;
				justify-content: center;
				padding: 0.5em;
				flex: 0 0 25%;
			}
		}

		.bottom {
			display: flex;
			flex-wrap: wrap;
			.column {
				display: flex;
				justify-content: center;
				padding: 0.5em;
				flex: 0 0 25%;
			}
		}
	}
}
